In [2]:
import pandas as pd

In [5]:
band_gap_data = pd.read_csv("expt_gap.csv", index_col=0)

In [6]:
band_gap_data

           formula  gap expt
0     Hg0.7Cd0.3Te      0.35
1             CuBr      3.08
2              LuP      1.30
3         Cu3SbSe4      0.40
4              ZnO      3.44
...            ...       ...
6349       Tm2MgTl      0.00
6350        Nb5Ga4      0.00
6351        Tb2Sb5      0.00
6352       Lu2AlTc      0.00
6353        CeZnPO      0.00

[6354 rows x 2 columns]