In [25]:
import pandas as pd
import numpy as np

In [3]:

bandgap_dict = {'Hg0.7Cd0.3Te': 0.35, 'CuBr': 3.08, 'LuP':1.30, 'Cu3SbSe4':0.40, 'ZnO':3.44}
bandgaps = pd.Series(bandgap_dict)
is_metal_dict = {'Hg0.7Cd0.3Te': '', 'CuBr': False, 'LuP': False, 'Cu3SbSe4': False, 'ZnO': False}
is_metal = pd.Series(is_metal_dict)

In [4]:
bandgaps

Hg0.7Cd0.3Te    0.35
CuBr            3.08
LuP             1.30
Cu3SbSe4        0.40
ZnO             3.44
dtype: float64

In [5]:
is_metal

Hg0.7Cd0.3Te
CuBr            False
LuP             False
Cu3SbSe4        False
ZnO             False
dtype: object

In [6]:
materials = pd.DataFrame({'bandgap':bandgaps, 'is_metal':is_metal})
materials

              bandgap is_metal
Hg0.7Cd0.3Te     0.35
CuBr             3.08    False
LuP              1.30    False
Cu3SbSe4         0.40    False
ZnO              3.44    False

In [9]:
data = [{'a': i, 'b': 2*i} for i in range(7)]

dada = pd.DataFrame(data)

In [10]:
dada

   a   b
0  0   0
1  1   2
2  2   4
3  3   6
4  4   8
5  5  10
6  6  12

In [11]:
ind = pd.Index([2,3,5,7,11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [12]:
ind[1]

3

In [13]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [14]:
indA = pd.Index([1,3,5,7,9])
indB = pd.Index([2,3,5,7,11])

indA,indB

(Int64Index([1, 3, 5, 7, 9], dtype='int64'),
 Int64Index([2, 3, 5, 7, 11], dtype='int64'))

In [15]:
indA & indB

C:\Users\user\AppData\Local\Temp\ipykernel_9648\144964795.py:1: FutureWarning: Index.__and__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__and__.  Use index.intersection(other) instead.
  indA & indB

Int64Index([3, 5, 7], dtype='int64')

In [16]:
indA | indB

C:\Users\user\AppData\Local\Temp\ipykernel_9648\3251124211.py:1: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead.
  indA | indB

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [17]:
indA ^ indB

C:\Users\user\AppData\Local\Temp\ipykernel_9648\2832893868.py:1: FutureWarning: Index.__xor__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__xor__.  Use index.symmetric_difference(other) instead.
  indA ^ indB

Int64Index([1, 2, 9, 11], dtype='int64')

In [18]:
dada

   a   b
0  0   0
1  1   2
2  2   4
3  3   6
4  4   8
5  5  10
6  6  12

In [22]:
dada[1:3]

   a  b
1  1  2
2  2  4

In [45]:
df = pd.DataFrame(np.arange(1, 10).reshape([3,-1]), columns=list('ABC'), index=list('ijk'))
df

   A  B  C
i  1  2  3
j  4  5  6
k  7  8  9

In [40]:
df.values

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [41]:
df.values[0]

array([1, 2, 3])

In [42]:
df.values[0,1]

2

In [43]:
df.iloc[0,1]

2

In [49]:
df.loc['i']['A']

1